body {
    text-align: center;
    background-image:url('http://res.cloudinary.com/dikujrdbe/image/upload/v1513597592/arcade-machine01_hctjg1.jpg');
    background-repeat: no-repeat;
    background-size: 1370px 1028px;
    background-position: center top; 
    background-color: #67EDEC;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: -0.25em;
}
p {
	font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    margin: 2em;
	animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0;
  }


}
h2 {
	font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    margin: 0.5em 0 0.25em;
}

h2:first-of-type {
    margin-top: 4em;
